<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Quick Start - Blog</title>
  </head>
  <body>
    <h1>Flask:</h1>
    <p>
    <a href="https://flask.palletsprojects.com/en/3.0.x/installation/#install-flask">Creating virtual environment and installing the Flask</a>
    <br>
    <a href="https://flask.palletsprojects.com/en/3.0.x/quickstart/">Quick Start</a>
    <br>
    <a href="https://flask.palletsprojects.com/en/2.3.x/tutorial/templates/">Render templates method </a> 
    <p>

    <h1>GitHub:</h1>
    <p>
    <a href="https://docs.github.com/pt/get-started/quickstart/create-a-repo">Creating a new repository on github</a>
    <br>
    <a href="https://www.alura.com.br/artigos/nova-exigencia-do-git-de-autenticacao-por-token-o-que-e-o-que-devo-fazer">Managing github credentials</a>
    <br>
    <a href="https://www.youtube.com/watch?v=O1KzlDRSd8w">How to insert an existing project into a new repository on github</a>
    <br>
    <a href="https://www.youtube.com/watch?v=bYxJXKk9lR8">Understanding the commands in practice add, commit, pull and push</a>
  </body>
</html>
