<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>References</title>
  </head>
  <body>
    <h1>Flask:</h1>
    <p>
    <a href="https://flask.palletsprojects.com/en/3.0.x/installation/#install-flask">Creating virtual environment and installing the Flask</a>
    <br>
    <a href="https://flask.palletsprojects.com/en/3.0.x/quickstart/">Quick Start</a>
    <br>
    <a href="https://flask.palletsprojects.com/en/2.3.x/tutorial/templates/">Render templates method </a> 
    <br>
  </body>
</html>
